{% extends 'base.html' %}

{% block title %}
All the Movies
{% endblock %}

{% block main %}
<ul>
    {% for movie in object_list %}
    <li>
        <a href="{% url 'core:MovieDetail' pk=movie.id %}">
            {{ movie }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
       {% for movie in object_list %}
       <li>{{movie}}</li>
       {% empty %}
       <li>No Movies Yet.</li>
       {% endfor %}
    </ul>
    <p>
        Using https? 
        {{ request.is_secure|yesno }}
    </p>
</body>
</html> -->