aioredis==1.3.1
argon2-cffi==19.2.0
asgiref==3.2.3
astroid==2.3.3
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.1.3
Automat==0.8.0
certifi==2019.11.28
cffi==1.13.2
channels==2.4.0
channels-redis==2.4.1
chardet==3.0.4
Click==7.0
colorama==0.4.3
constantly==15.1.0
cryptography==2.8
daphne==2.4.1
Django==2.2.10
django-bootstrap3==12.0.3
django-census-places==1.2.6
django-crispy-forms==1.7.2
django-debug-toolbar==2.2
django-filter==2.2.0
django-localflavor==2.2
django-location==2.1.1
django-mailbox==4.8.1
django-neighborhoods==2.0.1
django-rest-knox==4.1.0
django-social-auth==0.7.28
djangorestframework==3.11.0
docker==4.1.0
hiredis==1.0.1
httplib2==0.17.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
isort==4.3.21
jsonfield==2.0.2
lazy-object-proxy==1.4.3
lxml==4.5.0
mccabe==0.6.1
msgpack==0.6.2
oauth2==1.9.0.post1
olefile==0.46
openexchangerate==1.5.5
Pillow<4.4.0
psycopg2==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
PyHamcrest==2.0.0
pyicloud-dwoh==0.4.1
pylint==2.4.4
pylint-django==2.0.13
pylint-plugin-utils==0.6
pyOpenSSL==19.1.0
pyparsing==2.4.6
pypiwin32==223
python-openid==2.2.5
python-stdnum==1.13
pytz==2019.3
pywin32==227
requests==2.22.0
service-identity==18.1.0
six==1.14.0
sqlparse==0.3.0
svgwrite==1.3.1
Tree==0.2.4
Twisted==22.1.0
txaio==20.1.1
typed-ast==1.4.1
urllib3==1.25.3
websocket-client==0.57.0
wincertstore==0.2
wrapt==1.11.2
zope.interface==4.7.1
